In [1]:
li = []
st = list()
print(type(li))
print(type(st))

<class 'list'>
<class 'list'>

In [2]:
location = ['서울','대전','광주','구미']
print(location)
print(type(location))

['서울', '대전', '광주', '구미']
<class 'list'>

In [4]:
location[0]

'서울'

In [6]:
tuple_ex = (1,2)
print(type(tuple_ex))

<class 'tuple'>

In [8]:
is_tuple = 1,2
print(is_tuple)
print(type(is_tuple))

(1, 2)
<class 'tuple'>

In [10]:
x,y=1,2
print(x)
print(y)

1
2

In [12]:
x,y=y,x
print(x)
print(y)

1
2

In [14]:
type(range(1
          ))

range

In [17]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [94]:
list(range(4,9))

[4, 5, 6, 7, 8]

In [22]:
list(range(0,-10,-1))

[0, -1, -2, -3, -4, -5, -6, -7, -8, -9]

In [24]:
s = 'string'
print('a' in s)
li = [1,2,3,5,1]
print(3 in li)

False
True

In [26]:
print('안녕'+"하세요")
print([1,2]+[5,6])

안녕하세요
[1, 2, 5, 6]

In [27]:
[0]*5

[0, 0, 0, 0, 0]

In [29]:
location = ['서울','대전','구미','광주']
location[0]

'서울'

In [32]:
location[1]

'대전'

In [34]:
location[1:3]

['대전', '구미']

In [42]:
r = list(range(30))
len(r)

30

In [45]:
print(min(r))
print(max(r))

0
29

In [48]:
li = [1,2,3,1,2,5,4]
li.count(3)

1

In [53]:
set_a = {1,2,3}
set_b = {3,6,9}
print(set_a - set_b)
print(set_a | set_b)
print(set_a & set_b)

{1, 2}
{1, 2, 3, 6, 9}
{3}

In [89]:
set_c = {1,1,1}
print(set_c)

{1}

In [59]:
list_a = {1,2,3,1,1,2}
set_a = set(list_a)
print(list_a)

{1, 2, 3}

In [67]:
list(set(list_a))

[1, 2, 3]

In [63]:
dict_a = {}
print(type(dict_a))
dict_b = dict()
print(type(dict_b))

<class 'dict'>
<class 'dict'>

In [66]:
phone_book = {'서울':'02','경기':'031'}
phone_book['서울']

'02'

In [69]:
dict_a = {1:1,2:2,3:3,1:4}
print(dict_a)

{1: 4, 2: 2, 3: 3}

In [72]:
phone_book.keys()

dict_keys(['서울', '경기'])

In [74]:
phone_book.values()

dict_values(['02', '031'])

In [78]:
num = 3
if num % 2:
    print('홀수입니다')
else:
    print('짝수입니다')

홀수입니다

In [80]:
score = 86
if score >= 90:
    print('A')
elif score >= 80:
    print('B')
elif score >= 70:
    print('C')
else:
    print('F')

B

In [90]:
classroom = {'teacher':'kim','student1':'hong','student2':'kang'}
for member in classroom:
    print(member)

teacher
student1
student2

In [102]:
import random
sample = list(range(1,46))
s = random.sample(sample, 6)
print(s)

[26, 30, 40, 14, 45, 11]

In [ ]:
import requests 
 
URL_GetLottoNumber = "https://www.dhlottery.co.kr/common.do?method=getLottoNumber&drwNo=" # 현재 동행로또 주소
 
sDrwNum = input("당첨번호를 확인할 회차 번호를 입력해주세요 : ")
resp = requests.get(URL_GetLottoNumber + sDrwNum)
 
jsResult = resp.json()
 
if jsResult["returnValue"] == "success":
    print(jsResult)
else:
    print("존재하지 않는 회차 번호입니다. (입력됨 : %s)" % (sDrwNum))